				<rich:menuItem value="#{msg['menu.create.${stringUtils.unCapitalizeFirstLetter(${data.crud.name})}']}" action="#{menuBean.${stringUtils.unCapitalizeFirstLetter(${data.crud.name})}}" submitMode="ajax" />
