				<rich:menuItem value="#{msg['menu.report.${stringUtils.unCapitalizeFirstLetter(${data.crud.name})}']}" action="#{menuBean.${stringUtils.unCapitalizeFirstLetter(${data.crud.name})}}" submitMode="ajax" />

