<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xmlns:lang="http://www.springframework.org/schema/lang"
	     xmlns:util="http://www.springframework.org/schema/util"
	     xmlns:jee="http://www.springframework.org/schema/jee"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
           http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.0.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">

<!-- ====================  Aplication Context ====================== -->

	<bean id="sessionFactory" class="org.springframework.orm.hibernate.LocalSessionFactoryBean" lazy-init="true">
		  <property name="dataSource" ref="dataSource"/>
		  <property name="mappingResources">
		  	<list>
		  		<value>
		  			iFactory/treinamento/hibernate/domain/Category.hbm.xml		  			
		  		</value>		 
		  		<value>		  			
		  			iFactory/treinamento/hibernate/domain/Cliente.hbm.xml
		  		</value> 		
		  	</list>
		  </property>
		  
		  <property name="hibernateProperties">
		  	<props>
		  		<prop key="hibernate.dialect">net.sf.hibernate.dialect.HSQLDialect</prop>
		  		<prop key="hibernate.show_sql">false</prop>
		  		<prop key="hibernate.generate_statistics">true</prop>
		  		<prop key="hibernate.use_outer_join">false</prop>
		  		<prop key="hibernate.cache.provider_class">net.sf.hibernate.cache.EhCacheProvider</prop>		
		  		<!--prop key="hibernate.cache.use_query_cache">true</prop-->
		  	</props>
		  </property>
	</bean>

	<bean id="transactionManager"
		  class="org.springframework.orm.hibernate.HibernateTransactionManager">
		  <property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="categoryDao"
		  class="iFactory.treinamento.hibernate.dao.CategoryDaoImpl"
		  lazy-init="true">
		  <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="clienteDao"
		  class="iFactory.treinamento.hibernate.dao.ClienteDaoImpl"
		  lazy-init="true">
		  <property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="categoryService"
		  class="iFactory.treinamento.hibernate.service.CategoryServiceImpl"
		  lazy-init="true">
		  <property name="categoryDao" ref="categoryDao"/>
		  <!--<property name="auth" ref="authUtil"/>
	--></bean>

</beans>