#pagina login
page.login.welcome=Bem-vindo
page.login.description=Essa é uma página com acesso restrito. Favor inserir usuário e senha para acessá-la.
page.login.user=Usuário
page.login.password=Senha
page.login.language=Idioma
page.login.remember=Lembrar senha
page.login.error=ERRO no login.
page.login.error.by=Causa:
page.login.title=${stringUtils.capitalizeFirstLetter(${data.config.appName})} LOGIN
page.rodape.empresa=NUINF - Núcleo de Tecnologia da Informação 
page.rodape.telefone=(85)3101.5174

error.404=404 - página não encontrada!
error.accessDenied=Desculpe, acesso negado!
error.dataIntegrityViolation=Não foi possí­vel salvar este registro. Ocorreu um problema com os dados. Verifique os campos not-null e relacionamentos no banco de dados.
error.dataConversion=Não foi possí­vel converter parte de seus dados, veja em detalhes: {0}.

#TITULO DA APLICACAO
project.title=${stringUtils.capitalizeFirstLetter(${data.config.appName})}

#MsgUtil
label.warn.searchNoResults=Nao foram encontrados resultados para a consulta.
label.warn.searchError=Não foi possível executar a consulta
label.warn.updateListError=Não foi possível atualizar a lista de

label.global.saveOk=Salvo com sucesso.
label.global.deleteOk=Registro excluído com sucesso.

label.error.saveError=Não foi possível gravar o registro.
label.error.deleteError=Não foi possí­vel excluir o registro.


#INFORMACOES GENERICAS
label.fields.required=Campos Obrigatorios
label.panel.create=Cadastro de
label.panel.edit=Edicao de
label.panel.search=Pesquisa de
label.panel.searchResult=Resultado da consulta de


##MENU
menu.logoff=Sair
menu.mainPage=Principal
menu.create=Cadastro
menu.processes=Processos
menu.processes.sample=Sample
menu.create.new=Novo
menu.create.open=Abrir
menu.cadastro.nomeCadastro=CRUD
menu.report=Relatorios


#LOGIN
login.label.titulo=Autenticacao de Usuarios:
login.label.usuario=Usuario:
login.label.senha=Senha:
login.label.btlogin=Login
login.label.btclean=Limpar
login.label.apptitle=${stringUtils.capitalizeFirstLetter(${data.config.appName})}

bottom.generatedBy=Generated by SPIDER on Rails

#SessaoExpirada.jspx
sessionExpired.label.title=SESSAO EXPIRADA
sessionExpired.label.msg1=A sessao do usuario foi desativada
sessionExpired.label.msg2=Para retornar ao funcionamento normal saia do sistema e efetue o login novamente
sessionExpired.label.link=Efetuar Login Novamente

#BOTOES
button.new=Novo
button.edit=Editar
button.search=Pesquisar
button.execSearch=Executar Pesquisa
button.execReport=Executar Relatório
button.save=Gravar
button.delete=Excluir
button.select=Selecionar
button.clean=Limpar
