#login page
page.login.welcome=Welcome
page.login.description=That is a restricted page. Please insert a username and password for access.
page.login.user=Username
page.login.password=Password
page.login.language=Language
page.login.remember=Remembe-me
page.login.error=ERROR
page.login.error.by=Caused by:
page.login.title=${stringUtils.capitalizeFirstLetter(${data.config.appName})} LOGIN
page.rodape.empresa=NUINF - Núcleo de Tecnologia da Informação
page.rodape.telefone=Fone:(85)3101.5174

error.404=404 - page not found!
error.accessDenied=Sorry, access is denied!
error.dataIntegrityViolation=Unable to save. There was a problem with the data. Check the fields not-null and relationships in database.
error.dataConversion={0}.

#TITULO DA APLICACAO
project.title=${stringUtils.capitalizeFirstLetter(${data.config.appName})}

#MsgUtil
label.warn.searchNoResults=Nao foram encontrados resultados para a consulta.
label.warn.searchError=Nao foi possível executar a consulta
label.warn.updateListError=Não foi possível atualizar a lista de

label.global.saveOk=Salvo com sucesso.
label.global.deleteOk=Registro excluído do sucesso.

label.error.saveError=Não foi possível gravar o registro.
label.error.deleteError=Não foi possível excluir o registro.


#INFORMACOES GENERICAS
label.fields.required=Campos Obrigatorios
label.panel.create=Cadastro de
label.panel.edit=Edicao de
label.panel.search=Pesquisa de
label.panel.searchResult=Resultado da consulta de


##MENU
menu.logoff=logout
menu.mainPage=Main
menu.create=Cadastro
menu.processes=Processes
menu.processes.sample=Exemplo
menu.create.new=New
menu.create.open=Open
menu.cadastro.nomeCadastro=CRUD
menu.report=Reports


#LOGIN
login.label.titulo=User Authentication:
login.label.usuario=User:
login.label.senha=Password:
login.label.btlogin=Login
login.label.btclean=Clean
login.label.apptitle=${stringUtils.capitalizeFirstLetter(${data.config.appName})}

bottom.generatedBy=Generated by SPIDER on Rails

#SessaoExpirada.jspx
sessionExpired.label.title=SESSAO EXPIRADA
sessionExpired.label.msg1=A sessao do usuario foi desativada
sessionExpired.label.msg2=Para retornar ao funcionamento normal saia do sistema e efetue o login novamente
sessionExpired.label.link=Efetuar Login Novamente

#BOTOES
button.new=New
button.edit=Edit
button.search=Search
button.execSearch=Run Search
button.execReport=Run Report
button.save=Save
button.delete=Delete
button.select=Select
button.clean=Clean
