package ${data.config.mainPackage}.${data.bundle.get('package.base')}.${data.bundle.get('package.mvc.view')}.${data.bundle.get('package.mvc.view.util')};

/**
 *
 * @author ${data.bundle.get('generator.name')}
 */

public class MenuBean {

	//Menu.add();
}
